<header>
    <%=link_to category_path(@category) do %>
        &#8249;
    <%end%>
    <p>NEW TRANSACTIONS</p>
    <%= button_to 'Sing out', destroy_user_session_path, method: :delete %>    
</header>