<p style="color: green"><%= notice %></p>

<h1>Payments</h1>

<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
  <% end %>
</div>

<%= link_to "New payment", new_category_payment_path(@category) %>