/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.form_wrapper {
  height: 50vh;
  position: relative;
}

.form_container {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.5rem;
  width: 60%;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.transaction_form_container {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.5rem;
  width: 60%;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.form_container input {
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.transaction_form_container .input {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form_submit_btn {
  cursor: pointer;
}

.back_form_btn {
  font-size: 1.3rem;
  color: #3778c2;
  margin: 0.5rem 0 0 0.5rem;
}

.container {
  margin: auto;
  width: 50%;
  background-color: rgba(240, 229, 229, 0.4);
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.form-container {
  margin: auto;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px;
  width: 60%;
}

.action-btn {
  margin: 5px;
  padding: 5px;
  width: 40%;
}
