input {
  display: block;
}

.transaction_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.transaction_date {
  color: #434b54;
  font-size: 1.1rem;
}
