<h1>Splash<h1>
<div class="section">

  <div class="section__text">
    <h2 class="section__title">Track your expenses</h2>
    <p class="section__description">Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back.</p>
  </div>
  <div class="btn_start">
    <%= link_to 'Sign Up', new_user_registration_path, id: "sign_up", class: "nav_bar__link" %>
    <%= link_to 'Login', new_user_session_path, id: "log_in", class: "nav_bar__link" %>
  </div>
</div>